[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "raspicam"]
	path = raspicam
	url = https://github.com/cedricve/raspicam.git
[submodule "rpi-rgb-led-matrix"]
	path = rpi-rgb-led-matrix
	url = https://github.com/gregfriedland/rpi-rgb-led-matrix.git
