[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "raspicam"]
	path = raspicam
	url = https://github.com/cedricve/raspicam.git
[submodule "modules/rpi-rgb-led-matrix"]
	path = modules/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
