[Unit]
Description = V6 Driver for Aurora led matrix pattern generator
After       = syslog.target

[Service]
ExecStart   = /home/pi/AuroraV6/build/AuroraV6 /home/pi/AuroraV6/machinations-192x96.json
Type        = simple
PIDFile     = /run/aurorav6.pid
WorkingDirectory = /home/pi/AuroraV6/build
Nice = -20

[Install]
WantedBy    = multi-user.target
