[Unit]
Description = V7 Driver for Aurora led matrix pattern generator
After       = syslog.target

[Service]
ExecStart   = /home/gregfriedland/src/AuroraV7/build/AuroraV7 /home/gregfriedland/src/AuroraV7/machinations-192x96.json
Type        = simple
PIDFile     = /run/aurorav7.pid
WorkingDirectory = /home/gregfriedland/src/AuroraV7/build
Nice = -20

[Install]
WantedBy    = multi-user.target
